<!-- <div class="columns">
  <div class="column is-11">
    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="`SELECT ...`" ng-model="$ctrl.sqlQuery">
      </div>
    </div>
  </div>
  <div class="column is-1">
    <button class="button" ng-click="$ctrl.loadData()">Query</button>
  </div>
</div> -->

<div class="tabs is-fullwidth is-small">
  <ul>
    <li ng-class="{'is-active': $ctrl.isViewActive(view)}" ng-repeat="view in $ctrl.viewsAvailable" ng-click="$ctrl.openView(view)">
      <a>
        <span>{{ view.label }}</span>
      </a>
    </li>
  </ul>
</div>

<!-- TABLE -->
<!-- @todo SEPARATE TABLE COMPONENT SOMEHOW -->
<div class="data-table">
  <div class="columns">
    <div class="column">
      <table class="table is-striped is-bordered is-narrow">
        <thead>
          <tr>
            <th ng-repeat="columnTitle in $ctrl.tableHeaders">
              <div class="columns table-header-container">
                <div class="column table-header">
                  <div>
                    <span ng-if="$ctrl.typeMap[columnTitle] === 'image'">{{ columnTitle }}
                    </span>
                    <span ng-if="$ctrl.typeMap[columnTitle] !== 'image'" ng-click='$ctrl.sortColumn(columnTitle)'>

                      <!-- @todo FIX DIRTY IMPLEMENTATION BELOW -->
                      <span ng-show="$ctrl.getSortStatus(columnTitle, 'down')">
                        <i class="fas fa-arrow-down" aria-hidden="true"></i>
                      </span>
                      <span ng-show="$ctrl.getSortStatus(columnTitle, 'up')">
                        <i class="fas fa-arrow-up" aria-hidden="true"></i>
                      </span>
                      <span ng-show="$ctrl.getSortStatus(columnTitle, 'minus')">
                        <i class="fas fa-minus" aria-hidden="true"></i>
                      </span>
                      {{ columnTitle }}
                    </span>
                  </div>
                  <div ng-if="$ctrl.typeMap[columnTitle] !== 'image'" class="dropdown" ng-class="{ 'is-active': $ctrl.activeTables[columnTitle] }">
                    <div class="dropdown-trigger">
                      <button class="button" aria-haspopup="true" ng-click="$ctrl.activeTables[columnTitle] = !$ctrl.activeTables[columnTitle]"
                        aria-controls="dropdown-menu">
                        <span class="icon is-small">
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                      <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content filter-dropdown">
                          <label class="checkbox dropdown-item" ng-class="{'has-text-grey-lighter': $ctrl.objectFilter[columnTitle].length !== $ctrl.tableHeaderFilters[columnTitle].length}">
                            <input type="checkbox" ng-checked="$ctrl.objectFilter[columnTitle].length === $ctrl.tableHeaderFilters[columnTitle].length"
                              ng-click="$ctrl.toggleAllSelection(columnTitle)"> All
                          </label>
                          <label class="checkbox dropdown-item" ng-repeat="option in $ctrl.tableHeaderFilters[columnTitle]">
                            <input type="checkbox" ng-checked="$ctrl.inSelection(option, columnTitle)" ng-click="$ctrl.toggleSelection(option, columnTitle)"> {{ option }}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>'
          <tr ng-repeat="data in $ctrl.tableData | filter: $ctrl.multipleSelectFilter | orderBy: $ctrl.tableOptions.sort">
            <td ng-repeat="columnTitle in $ctrl.tableHeaders">
              <span ng-if="$ctrl.typeMap[columnTitle] === 'string'">
                {{ data[columnTitle] | limitTo: $ctrl.maxLengthCell }}{{ data[columnTitle].length > $ctrl.maxLengthCell ? '...' : '' }}
              </span>
              <span ng-if="$ctrl.typeMap[columnTitle] === 'number'">
                {{ data[columnTitle] | number }}
              </span>
              <img ng-src="{{ data[columnTitle] }}" alt="data[columnTitle]" ng-if="$ctrl.typeMap[columnTitle] === 'image'">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- SAMPLE TABLE WITH PAGINATION
<br><br>

<div class="data-table">
  <div class="columns">
    <div class="column">
      <table class="table is-striped is-bordered">
        <thead>
          <tr>
            <th ng-repeat="columnTitle in $ctrl.tableHeaders">
              <div class="columns table-header">
                <div class="column">
                  <span class="sortable" ng-click='$ctrl.sortColumn(columnTitle)' ng-class='$ctrl.sortClass(columnTitle)'>{{ columnTitle }}
                  </span>
                </div>
                <div class="column">

                  <div class="dropdown" ng-class="{ 'is-active': $ctrl.activeTables[columnTitle] }">
                    <div class="dropdown-trigger">
                      <button class="button" aria-haspopup="true" ng-click="$ctrl.activeTables[columnTitle] = !$ctrl.activeTables[columnTitle]"
                        aria-controls="dropdown-menu">
                        <span>{{ columnTitle }}</span>
                        <span class="icon is-small">
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                      <div class="dropdown-content filter-dropdown">
                        <label class="checkbox dropdown-item">
                          <input type="checkbox" ng-checked="$ctrl.inSelection('!!', columnTitle)" ng-click="$ctrl.toggleSelection('!!', columnTitle)"
                            value="!!"> All
                        </label>
                        <label class="checkbox dropdown-item" ng-repeat="option in $ctrl.tableHeaderFilters[columnTitle]">
                          <input type="checkbox" ng-checked="$ctrl.inSelection(option, columnTitle)" ng-click="$ctrl.toggleSelection(option, columnTitle)"
                            value="{{ option }}"> {{ option }}
                        </label>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in $ctrl.items | filter: $ctrl.multipleSelectFilter | orderBy: $ctrl.column : $ctrl.reverse ">
            <td ng-repeat="columnTitle in $ctrl.tableHeaders">
              {{ data[columnTitle] | limitTo: $ctrl.maxLengthCell }}{{ data[columnTitle].length > $ctrl.maxLengthCell ? '...' : '' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<nav class="pagination is-centered" role="navigation" aria-label="pagination">

  <a class="pagination-previous" ng-click="$ctrl.setPage($ctrl.pager.currentPage - 1)">Previous</a>
    
  <a class="pagination-next" ng-click="$ctrl.setPage($ctrl.pager.currentPage + 1)">Next page</a>

  <ul class="pagination-list">
<!--
    <li><a class="pagination-link" aria-label="Goto page 1" ng-click="$ctrl.setPage(1)">1</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
  
    <li ng-repeat="page in $ctrl.pager.pages"><a class="pagination-link {{$ctrl.pager.currentPage === page ? 'is-current' : ''}} " ng-click="$ctrl.setPage(page)" aria-label="Page {{page}}" aria-current="page">{{page}}</a></li>
    <!--
    <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 86" ng-click="$ctrl.setPage($ctrl.pager.totalPages)">{{$ctrl.pager.totalPages}}</a></li>
        
  </ul>
</nav>

<!--
 <div class="text-center">
  <ul ng-if="$ctrl.pager.pages.length" class="pagination">
      <li ng-class="{disabled:$ctrl.pager.currentPage === 1}">
          <a ng-click="$ctrl.setPage(1)">First</a>
      </li>
      <li ng-class="{disabled:$ctrl.pager.currentPage === 1}">
          <a ng-click="$ctrl.setPage($ctrl.pager.currentPage - 1)">Previous</a>
      </li>
      <li ng-repeat="page in $ctrl.pager.pages" ng-class="{active:$ctrl.pager.currentPage === page}">
          <a ng-click="$ctrl.setPage(page)">{{page}}</a>
      </li>                
      <li ng-class="{disabled:$ctrl.pager.currentPage === $ctrl.pager.totalPages}">
          <a ng-click="$ctrl.setPage($ctrl.pager.currentPage + 1)">Next</a>
      </li>
      <li ng-class="{disabled:$ctrl.pager.currentPage === $ctrl.pager.totalPages}">
          <a ng-click="$ctrl.setPage($ctrl.pager.totalPages)">Last</a>
      </li>
  </ul>
</div> 
-->