<div class="columns">
  <div class="column is-11">
    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="`SELECT ...`" ng-model="$ctrl.sqlQuery">
      </div>
    </div>
  </div>
  <div class="column is-1">
    <button class="button" ng-click="$ctrl.loadData()">Query</button>
  </div>
</div>
<div class="data-table">
  <div class="columns">
    <div class="column">
      <table class="table is-striped is-bordered">
        <thead>
          <tr>
            <th ng-repeat="columnTitle in $ctrl.tableHeaders">
              {{ columnTitle }}
              <div class="field">
                <div class="control">
                  <div class="select">
                    <select ng-model="$ctrl.objectFilter[columnTitle]" ng-change="$ctrl.change()">
                      <option value="!!">All</option>
                      <option ng-repeat="option in $ctrl.tableHeaderFilters[columnTitle]" ng-value="option">{{ option | limitTo: 25}} {{ option.length > 24 ? '...' : '' }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in $ctrl.tableData | filter: $ctrl.objectFilter">
            <td ng-repeat="columnTitle in $ctrl.tableHeaders">
              {{ data[columnTitle] | limitTo: 155 }}{{ data[columnTitle].length > 155 ? '...' : '' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

